<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ConvenientSwift-2048.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>53F9A58E1CEB120F003E1CBB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>53F9A5A21CEB120F003E1CBB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>53F9A5AD1CEB120F003E1CBB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
